div: {
	border: 1px solid black;
};

.base: {
	background-color: gray;
	height: 400px;
	width: 400px;
};

.cell: {
	background-color: blue;
	height: 20px;
	width: 20px;
	position: absolute;
};

#1: {
	top: 100px;
	left: 5px;
};

#2: {
	top: 100px;
	left: 35px;
};

#3: {
	top: 100px;
	left: 65;
};